body {
  margin: 0;
  background: #0b1d3a;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 420px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #0b1d3a;
}

header {
  padding: 15px;
  text-align: center;
  color: gold;
  border-bottom: 1px solid gold;
}

.sub {
  font-size: 12px;
  color: #d4af37;
}

#chatArea {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.bot, .user {
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  max-width: 85%;
}

.bot {
  background: #1c2f55;
  color: white;
}

.user {
  background: gold;
  color: #000;
  margin-left: auto;
}

footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid gold;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  margin-left: 5px;
  padding: 10px;
  background: gold;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
